.vscode/
__pycache__/
caca_turn.py
Scipy_implementation.py
cd_kcu.py
data/flight_logs/v9/
data/flight_logs/kitekraft/
data/config/v9_config.yaml
data/config/kft_config.yaml
data/data_preprocessors/process_KFT_data.py
data/data_preprocessors/process_KP_data.py
processed_data/flight_data/v9/
processed_data/flight_data/kitekraft/
results/
build/
src/awes_ekf.egg-info/
venv/
processed_data/
./ekf_debug.logunwanted_file.txt
ekf_debug.log
.DS_Store   